.logo img {
  top: 0.5em;
  position: relative;
  z-index: 100;
  left: 5%;
  width: 60px;
  pointer-events: none;
  background-color:darkseagreen;
}

.portafolio--titulo {
  height: 20vh;
}

.portafolio__cv {
  height: 80vh;
}